.hero {
  width: 100%;
  height: 56vw;
  overflow: hidden;
  position: relative;
}

.villaOrt {
  position: absolute;
  z-index: 1;
  color: var(--primary-color);
  font-family: "Comforter", "Princess Sofia", cursive; /*Lobster, Pacifico, Amatic SC, Marck Script, Neicha, Bad Script, Reggae One, Comforter (Brush), Caveat */
  font-size: 12rem;
  top: 10%;
  right: 10%;
  padding: 1.2rem;
}

@media screen and (max-width: 680px) {
  .villaOrt {
    font-size: 6rem;
  }
}

.weatherInfo {
  color: var(--light-color);
  font-size: 7vw;
  display: flex;
  gap: 2vw;
  position: absolute;
  z-index: 1;
  top: 35vw;
  left: 9vw;
}

.location {
  font-size: 3vw;
  padding-top: 2vw;
  line-height: 1;
}

.mask {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 130%;
  position: absolute;
  animation: slider 45s infinite linear;
}

@keyframes slider {
  0% {
    transform: translateX(11%);
  }
  50% {
    transform: translateX(-11%);
  }
  100% {
    transform: translateX(11%);
  }
}
