.forecast {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: var(--dark-color);
  padding: 2rem;
  justify-content: center;
}

@media screen and (max-width: 1080px) {
  .forecast {
    flex-direction: column;
  }
}

.forecastDay {
  padding: 2rem;
}

.temp {
  display: flex;
  align-items: center;
  font-size: 5rem;
}

.date {
  font-size: 2rem;
}

.icon {
  font-size: 10rem;
  padding: 1rem 4rem;
  color: var(--secondary-color);
}

img {
  font-size: 1.2rem;
}
