@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Princess+Sofia&family=Ysabeau+Infant:ital,wght@0,1;0,400;0,700;0,1000;1,1&display=swap");

/* https://colorhunt.co/palette/eee2deea906cb313122b2a4c */

:root {
  color: white;
  background-color: var(--light-color);
  height: 200vh;
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 62.5%;
  --primary-color: hsl(0, 82%, 39%);
  --secondary-color: hsl(17, 44%, 65%); /* 17, 75%, 67% */
  --light-color: hsl(15, 32%, 90%);
  --dark-color: #2b2a4c;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  --webkit-font-feature-settings: "liga";
  --webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  /* background-color: var(--primary-color); */
}

h3 {
  font-size: 4rem;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 0.5rem;
}

.map_container {
  margin: 0 auto;
  max-width: 92rem;
  height: 50rem;
}