@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Princess+Sofia&family=Ysabeau+Infant:ital,wght@0,1;0,400;0,700;0,1000;1,1&display=swap");

/* https://colorhunt.co/palette/eee2deea906cb313122b2a4c */

:root {
  color: white;
  background-color: var(--light-color);
  height: 200vh;
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 62.5%;
  --primary-color: rgb(181, 18, 18);
  --secondary-color: hsl(17, 44%, 65%); /* 17, 75%, 67% */
  --light-color: hsl(15, 32%, 90%);
  --dark-color: #2b2a4c;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  --webkit-font-feature-settings: "liga";
  --webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  /* background-color: var(--primary-color); */
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

h3 {
  font-size: 4rem;
  color: var(--primary-color);
  text-align: center;
  margin-top: 0;
  padding-top: 8rem;
  margin-bottom: 2.5rem;
}

h4 {
  margin-top: 0;
  padding-top: 4rem;
}

.map_container {
  margin: 0 auto;
  max-width: 92rem;
  height: 50rem;
}

.balloon {
  font-family: "Arial";
  font-size: 14px;
}

.main {
  width: fit-content;
  margin: auto;
  padding-bottom: 5rem;
}

.paddingBottom {
  padding-bottom: 6rem;
}

@media screen and (max-width: 940px) {
  .paddingBottom {
    padding-bottom: 0;
  }
}

.backgroundWhite {
  background-color: white;
}

.textBox {
  max-width: 92rem;
  color: black;
  font-size: 2.8rem;
  line-height: 1.4;
  word-spacing: 9px;
  letter-spacing: -1.1px;
}

@media screen and (max-width: 920px) {
  .textBox {
    max-width: 82vw;
  }
}

.footerContainer {
  background-color: var(--primary-color);
}

.footerText {
  font-size: 2.4rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.gridItem {
  justify-self: center;
  padding: 0 2rem;
}

.contactLink {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 3rem 1.6rem 3rem;
  margin: 0 auto;
}

.showMoreImagesButton {
  font-family: "Ysabeau Infant", sans-serif;
  border: 0;
  font-size: 2rem;
  line-height: 1.4;
  cursor: pointer;
  border-radius: 1rem;
  padding-top: 1.3rem;
  margin-top: 2rem;
}

.credit {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
